<header> → class="cabecalho"{
box-sizing: border-box;
margin: 0;
padding: 0;
}
<article> → class="cartao"
<div> (dentro de <article>) → class="cartao-interno"
<img> → class="cartao-imagem"
{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.cabecalho {
padding: 15px 25px;
}

.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem {
width: 100%;
}